body.controller-wiki #content
	font-family 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Kaku Gothic Pro', 'Meiryo', 'MS PGothic', sans-serif
	h1
		background #333
		color #fff
		font-size 24px
		padding 10px 20px
		margin 40px 0 0 0
	h2
		background #eee
		font-size 20px
		margin 20px 0 10px 0
		padding 10px 20px
	h3
		font-size 20px
		border-bottom 1px solid #333
		margin 20px 0 10px 20px
		padding 5px 0
	h4
		font-size 14px
		border-bottom 1px dotted #333
		font-weight bold
		margin 20px 0 10px 20px
		padding 5px 0
	h5
		font-size 14px
		font-weight bold
		margin 20px 0 10px 20px
	p
		font-size 14px
		margin 10px 0 10px 20px
	table
		margin 10px 0 10px 20px
		th
		td
			font-size 14px
		tr:nth-child(2n)
			background #eee
	code
		font-family monospace